@import "tailwindcss";

@theme {
  --default-font-family: "Roboto", sans-serif;
}

/* @custom-variant dark (&:where(.dark, .dark *));

html.dark {
  background-color: #222222;
  color: #ffffff;
  /* color: #d97aff; */
